body {
  background-color: #fff944;
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-decoration: none;
}

a:link, a:visited {
  color: #1188AA;
  text-decoration: none;
}

a:hover {
  color: #551A8B;
  text-decoration: none;
}

.title_image {
  width: 400pt;
}

.contents {
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2em;
  line-height: 150%;
  vertical-align: middle;
  text-align: center;
  width: 450pt;
}

.pet_image {
  padding: 5pt;
  width: 130pt;
}

.cat_image {
  content: url(pets/cat.png);
}

.cat_image:active {
  content: url(pets/cat_tapped.png);
}

.octo_image {
  content: url(pets/octo.png);
}

.octo_image:active {
  content: url(pets/octo_tapped.png);
}

.pirate_image {
  content: url(pets/pirate.png);
}

.pirate_image:active {
  content: url(pets/pirate_tapped.png);
}

.powerplant_image {
  content: url(pets/powerplant.png);
}

.powerplant_image:active {
  content: url(pets/powerplant_tapped.png);
}

.boombox_image {
  content: url(pets/boombox.png);
}

.boombox_image:active {
  content: url(pets/boombox_tapped.png);
}

.apple_image {
  content: url(pets/apple.png);
}

.apple_image:active {
  content: url(pets/apple_tapped.png);
}

.statue_image {
  content: url(pets/statue.png);
}

.statue_image:active {
  content: url(pets/statue_tapped.png);
}

.teapot_image {
  content: url(pets/teapot.png);
}

.teapot_image:active {
  content: url(pets/teapot_tapped.png);
}

.gnome_image {
  content: url(pets/gnome.png);
}

.gnome_image:active {
  content: url(pets/gnome_tapped.png);
}

video::-webkit-media-controls {
  display:none !important;
}

@media screen and (max-width: 720px) {

.pet_image {
  padding: 5pt;
  width: 50pt;
  height: 50pt;
}

.title_image {
  width: 200pt;
}

.contents {
  margin-right: auto;
  margin-left: auto;
  font-size: 10pt;
  max-width: 200pt;
}

}